/* Box */

#box1.menu1 {
   background-color: #ff1300; 
   top: 224px; 
   left: 310px; 
}

#box2.menu1 {
   background-color: #FFC40D; 
   top: 77px; 
   left: 811px; 
}

#box3.menu1 {
   background-color: #ff6700; 
   top: 301px; 
   left: 1070px; 
}

#box11.menu1 {
   background-color: #00aeb6; 
   top: 264px; 
   left: 560px; 
}

#box10.menu1 {
   background-color: #bcf46e; 
   top: 75px; 
   left: 311px; 
}

#box16.menu1 {
   background-color: #0086e3; 
   top: 77px; 
   left: 67px; 
}

#box15.menu1 {
   background-color: #AE2C4C; 
   top: 74px; 
   left: 560px; 
}

#box21.menu1 {
   background-color: #482A83; 
   top: 478px; 
   left: 559px; 
}

#box102.menu1 {
   background-color: #00771d; 
   top: 364px; 
   left: 67px; 
}

#box40.menu1 {
   background-color: #0094ff; 
   top: 79px; 
   left: 1068px; 
}

#box93.menu1 {
   background-color: #007300; 
   top: 265px; 
   left: 810px; 
}

#box94.menu1 {
   background-color: #5437ce; 
   top: 495px; 
   left: 312px; 
}

#box116.menu1 {
   background-color: #F09609; 
   top: 592px; 
   left: 67px; 
}

#box110.menu2 {
   background-color: #ddda00; 
   top: 311px; 
   left: 424px; 
}

#box85.menu2 {
   background-color: #00bf3c; 
   top: 107px; 
   left: 1124px; 
}

#box87.menu2 {
   background-color: #c2c677; 
   top: 443px; 
   left: 742px; 
}

#box84.menu2 {
   background-color: #9241cb; 
   top: 150px; 
   left: 761px; 
}

#box28.menu2 {
   background-color: #2675d4; 
   top: 97px; 
   left: 381px; 
}

#box31.menu2 {
   background-color: #439400; 
   top: 111px; 
   left: 68px; 
}

#box91.menu2 {
   background-color: #17a434; 
   top: 536px; 
   left: 1041px; 
}

#box100.menu2 {
   background-color: #5b14d8; 
   top: 477px; 
   left: 176px; 
}

#box108.menu2 {
   background-color: #006600; 
   top: 328px; 
   left: 109px; 
}

#box103.menu3 {
   background-color: #df0000; 
   top: 214px; 
   left: 316px; 
}

#box112.menu3 {
   background-color: #2958bd; 
   top: 87px; 
   left: 832px; 
}

#box113.menu3 {
   background-color: #c20b99; 
   top: 90px; 
   left: 1102px; 
}

#box115.menu3 {
   background-color: #df0000; 
   top: 262px; 
   left: 1113px; 
}

#box114.menu3 {
   background-color: #df9014; 
   top: 374px; 
   left: 615px; 
}

#box109.menu3 {
   background-color: #8b98ab; 
   top: 81px; 
   left: 317px; 
}

#box101.menu3 {
   background-color: #cfe000; 
   top: 443px; 
   left: 318px; 
}

#box93.menu3 {
   background-color: #007300; 
   top: 81px; 
   left: 64px; 
}

#box111.menu3 {
   background-color: #634100; 
   top: 83px; 
   left: 582px; 
}

#box6.menu4 {
   background-color: #008209; 
   top: 418px; 
   left: 1164px; 
}

#box7.menu4 {
   background-color: #FF7600; 
   top: 80px; 
   left: 133px; 
}

#box12.menu4 {
   background-color: #8eeb00; 
   top: 80px; 
   left: 820px; 
}

#box13.menu4 {
   background-color: #A60C00; 
   top: 429px; 
   left: 872px; 
}

#box14.menu4 {
   background-color: #096cb2; 
   top: 98px; 
   left: 1107px; 
}

#box107.menu4 {
   background-color: #00900c; 
   top: 266px; 
   left: 565px; 
}

#box22.menu4 {
   background-color: #FF3254; 
   top: 78px; 
   left: 436px; 
}

#box26.menu4 {
   background-color: #6CAC2B; 
   top: 312px; 
   left: 54px; 
}

#box36.menu4 {
   background-color: #004fb8; 
   top: 326px; 
   left: 314px; 
}

#box30.menu4 {
   background-color: #e3fc3f; 
   top: 505px; 
   left: 44px; 
}

#box32.menu4 {
   background-color: #acf; 
   top: 602px; 
   left: 589px; 
}

#box92.menu4 {
   background-color: #00926e; 
   top: 563px; 
   left: 308px; 
}

#box41.menu7 {
   background-color: #b60914; 
   top: 124px; 
   left: 70px; 
}

