* {
	margin: 0;
	padding: 0;
	border: 0;
}

/*	body   
	-------------------------------------------------------------------------	*/

body { 
	background-color: #6D87D6;
	font: 14px/20px Helvetica, Arial, sans-serif;
}

/*	a   
	-------------------------------------------------------------------------	*/

a { 
	color: #000000; 
	font-weight: bold; 
	text-decoration: none; 
	text-transform: none; 
}	
		
a:link,
a:focus,
a:active,
a:visited { 
	color:#000000; 
}		
	
a:hover { 
	color:#FFFFFF; 
}	

/*	h1   
	-------------------------------------------------------------------------	*/

h1 {
	position: relative;
	color: #FFFFFF;
}

/*	span   
	-------------------------------------------------------------------------	*/

span {
	cursor: pointer;
}

span:hover {
	text-decoration: underline;
}

/*	input   
	-------------------------------------------------------------------------	*/

input {
	padding: 0.3em;
}

/*	img   
	-------------------------------------------------------------------------	*/

img.pic {
	width: 25px;
}

/*	menu   
	-------------------------------------------------------------------------	*/

#menu {
	/*position: absolute;*/
	position: relative;
	background-color: #062170;
	/*top: 0px;
	left: 0px;*/
	/*margin: 0em;*/
	width: 100%;
	min-width: 800px; 
	height: 40px;
}

/*	navi   
	-------------------------------------------------------------------------	*/

#navi {
	padding: 1em;
}

#navi span {
	font-weight: bold; 
	text-decoration: none; 
	text-transform: none;
}

#navi > li {
	display: inline;
	padding: 0.5em 1em;
	margin: 0em 0.6em;
}

#navi > .active {
	color: #ffffff;
	background-color: #6D87D6;
	border-bottom: 1px solid #6D87D6;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
}

#navi > .inactive {
	color: #B8BCCD;
}

#navi > .inactive:hover {
	color: #fff;
}

/*	table   
	-------------------------------------------------------------------------	*/

table {
	text-align: left;
}

table th,
table td {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

table th {
	background-color: #062170;
	color: #FFFFFF;
	padding: 0.5em 1em;
}

table .th1 {
	width: 20px; 
}

table .th2 {
	width: 80px;
}

table .th3 {
	width: 200px;
}

table .th4 {
	width: 400px;
}

table td {
	padding: 0.3em 1em;
	height: 25px;
}

table .td1 {
	background-color: #6899D3;
}

table .td2 {
	background-color: #4284D3;
}

table td #Farbe {
	width: 70px;
}

table td #Name {
	width: 190px;
}

/*	container   
	-------------------------------------------------------------------------	*/

#container {
	position: relative;
}

/*	main   
	-------------------------------------------------------------------------	*/

#main {

}

/*	Box   
	-------------------------------------------------------------------------	*/

.box { 
	position: absolute; 
	border: 1px solid #6D87D6;
	padding: 0.5em; 
/*
	-webkit-box-shadow: 0 0 8px rgba(14, 32, 59, .5);
	-moz-box-shadow: 0 0 8px rgba(14, 32, 59, .5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
*/
}

.box:hover {
	border: 1px solid #000;
}

.box > .box_body {
	clear: left;
}

.box > .box_head {
	width: 100%;
	font-size: larger;
	font-weight: bold; 
	margin-bottom: 0.6em;
	cursor: move;
}

.box > .edit {
 	float: left; 
	font-size: small;
	margin-right: 1em;
	padding-left: 1em;
	padding-top: 1em;
	text-decoration: none; 
	text-transform: none; 
	cursor: pointer;
	white-space: normal;
}

.box > .edit:hover { 
	text-decoration: underline; 
}

.box > .save_edit {
 	float: left; 
	font-size: small;
	margin-right: 1em;
	padding-left: 1em;
	padding-top: 1em;
	text-decoration: none; 
	text-transform: none; 
	cursor: pointer;
	white-space: normal;
}

.box > .save_edit:hover { 
	text-decoration: underline; 
}

.link_box {
	width: 14em; 
}

/*	Notiz Box   
	-------------------------------------------------------------------------	*/

.notiz_box {
	width: 14em;
}

.div_notiz_box {
	line-height: 1em;
}

/*	Termin Box   
	-------------------------------------------------------------------------	*/
	
.termin {
	float: left;
	margin-top: .4em;
}

.termin_box {
	width: 18em; 
}

.termin_box .termin_left {
	float: left; 
}

.termin_box .termin_right {
	float: right; 
}

.termin li {
	list-style: none;
	margin-left: 0.8em;
}

.termin .today {
	font-weight: bold;
	color: #fff;
}

/*	RSS Box   
	-------------------------------------------------------------------------	*/

.rss_box {
	min-width: 30em;
}

.rss_box #feed_menu {
	padding: 0.3em 1em;
}

.rss_box #feed_menu span {
	font-weight: bold; 
	text-decoration: none; 
	text-transform: none; 
	padding: 0.5em 1em;
	margin: 0em 1em;
}

.rss_box #feed_menu .active {
	color: #000;
	background-color: #fff;	
	border-bottom: 1px solid #fff;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
}

.rss_box #feed_menu .inactive:hover {
	color: #000;
}

.rss_box #feed_menu .inactive {
	color: #B8BCCD;
}

.rss_box #feed_news {
	padding: 0.5em;
	background-color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.rss_box #feed_news a:hover {
	color: #1D1AB2;
}


/*	calender   
	-------------------------------------------------------------------------	*/
	
#calender {
	padding: 1em;
}

#calender td {
	border: 1px solid #000;
	padding: 0.5em;
	height: 100px;
}

/*	admin   
	-------------------------------------------------------------------------	*/

#admin {
	padding: 2em 1em;
}

#admin #admin_menu {
	position: relative;
	padding: 1em;
}

#admin #admin_menu span {
	margin-left: 1em;
}

#admin #admin_main {
	position: absolute;
	left: 300px;
	top: 50px;
	width: 900px;
	height: 550px;
	padding: 1em 3em;
}

#admin #alert_box {
	position: absolute;
	top: 60px;
	left: 80px;
	padding: 1em;
	background: #414467; 
	color: #FFFFFF;
	opacity: 0.8;
	border: 1px solid #000000;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 0 10px rgba(14, 32, 59, .5);
	-moz-border-radius: 10px;
	-moz-box-shadow: 0 0 10px rgba(14, 32, 59, .5);	
}

#admin #alert_box p {
	font-weight: bold;
}

#admin #alert_box span {
	margin-left: 1em;
}

/*	error   
	-------------------------------------------------------------------------	*/

.error {
	position: relative;
	margin: 2em 3em;
	font-size: small;
	width: 400px;
	padding: 1em;
	background: #FF8373; 
	color: #fff;
	border: 1px solid #f00;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 0 10px rgba(14, 32, 59, .5);
	-moz-border-radius: 10px;
	-moz-box-shadow: 0 0 10px rgba(14, 32, 59, .5);
}

/*	Debug   
	-------------------------------------------------------------------------	*/

.debug {
	position: absolute; 
	top: 10px; 
	right: 10px; 
	padding: .8em;
	color: #fff;
	background: #FF8373; 
	border: 1px solid #f00;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 0 10px rgba(14, 32, 59, .5);
	-moz-border-radius: 10px;
	-moz-box-shadow: 0 0 10px rgba(14, 32, 59, .5);
}


/*	Sonstiges   
	-------------------------------------------------------------------------	*/

#farb_tool {
	position: absolute;
	top: 15px;
	left: 650px;
	border: 1px solid #000;
	background-color: #B8BCCD;
	padding: 1em;
	padding-top: -1em;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 0 10px rgba(14, 32, 59, .5);
	-moz-border-radius: 10px;
	-moz-box-shadow: 0 0 10px rgba(14, 32, 59, .5);
}

div.slider {
	width: 200px;
	height: 16px;
	background: #eee;
}
div.slider div.knob {
	background: #000;
	width: 16px;
	height: 16px;
}

div.advanced {
	width: 200px;
	margin: 5px 0;
	background: url(../img/slider.png) 0 center repeat-x;
}

div.advanced div.knob {
	background: no-repeat center center;
	cursor: pointer;
}

div#red div.knob {
	background-image: url(../img/red.png);
}

div#green div.knob {
	background-image: url(../img/green.png);
}

div#blue div.knob {
	background-image: url(../img/blue.png);
}